In [32]:
from opentrons import protocol_api
import pandas as pd
import os

## Meta Data

metadata = {'protocolName': 'PME1 Digestion',
'author':'Mason Kellinger masonkellinger@vt.edu',
 'description':'First phase of yeast transformation',
 'apiLevel': '2.9'
}
print(metadata)

os.chdir("C:/Users/jonbr/Documents/GitHub/opentrons/Restriction/20210902_pme1")
os.getcwd()

plasmid = pd.read_csv("20210902_pme1.csv",engine = 'python', encoding='utf-8-sig')

plasmid = pd.DataFrame(plasmid)
plasmid

{'protocolName': 'PME1 Digestion', 'author': 'Mason Kellinger masonkellinger@vt.edu', 'description': 'First phase of yeast transformation', 'apiLevel': '2.9'}

   Plasmid  Concentration
0      242          505.8

In [33]:
plasmid['Buffer'] = float('4.4')
plasmid['PME1'] = float('1')
plasmid['Volume of Plasmid'] = ''
plasmid['Volume of Water'] = ''

plasmid['Volume of Plasmid'] = (1/(plasmid['Concentration'])) * 1000 * 1.5
plasmid['Volume of Water'] = 44 - plasmid['Volume of Plasmid'] - plasmid['Buffer'] - plasmid['PME1']

plasmid['total volume'] = float('44')

plasmid

,Plasmid,Concentration,Buffer,PME1,Volume of Plasmid,Volume of Water,total volume
0,242,505.8,4.4,1.0,2.965599,35.634401,44.0

In [34]:
#purpose of this is the perform the same 44uL digestion with half the reagents every time to see 
#just how precise the opentrons is and how much reagents we can save. 

row2percent = {}
row2percent['0'] = 1
row2percent['1'] = .9
row2percent['2'] = .8
row2percent['3'] = .7
row2percent['4'] = .6
row2percent['5'] = .5
row2percent['6'] = .4
row2percent['7'] = .3
row2percent['8'] = .2

for n in range(1,9):
    plasmid2 = plasmid.iloc[0,]*row2percent[str(n)]
    plasmid=plasmid.append(plasmid2)

plasmid = plasmid.reset_index()
plasmid = plasmid.drop(columns=['index'])

plasmid

,Plasmid,Concentration,Buffer,PME1,Volume of Plasmid,Volume of Water,total volume
0,242.0,505.80,4.40,1.0,2.965599,35.634401,44.0
1,217.8,455.22,3.96,0.9,2.669039,32.070961,39.6
2,193.6,404.64,3.52,0.8,2.372479,28.507521,35.2
3,169.4,354.06,3.08,0.7,2.075919,24.944081,30.8
4,145.2,303.48,2.64,0.6,1.779359,21.380641,26.4
5,121.0,252.90,2.20,0.5,1.482800,17.817200,22.0
6,96.8,202.32,1.76,0.4,1.186240,14.253760,17.6
7,72.6,151.74,1.32,0.3,0.889680,10.690320,13.2
8,48.4,101.16,0.88,0.2,0.593120,7.126880,8.8

In [35]:
#row2well= {}
#row2well['0'] = 'A2'
#row2well['1'] = 'B2'
#row2well['2'] = 'C2'
#row2well['3'] = 'D2'
#row2well['4'] = 'D3'
#row2well['5'] = 'D4'
#row2well['6'] = 'D5'
#row2well['7'] = 'D6'

plasmid['Plasmid Location'] = ''

for i, row in plasmid.iterrows():
    plasmid.loc[i,'Plasmid Location'] = 'A2' #row2well[str(i)]
plasmid

,Plasmid,Concentration,Buffer,PME1,Volume of Plasmid,Volume of Water,total volume,Plasmid Location
0,242.0,505.80,4.40,1.0,2.965599,35.634401,44.0,A2
1,217.8,455.22,3.96,0.9,2.669039,32.070961,39.6,A2
2,193.6,404.64,3.52,0.8,2.372479,28.507521,35.2,A2
3,169.4,354.06,3.08,0.7,2.075919,24.944081,30.8,A2
4,145.2,303.48,2.64,0.6,1.779359,21.380641,26.4,A2
5,121.0,252.90,2.20,0.5,1.482800,17.817200,22.0,A2
6,96.8,202.32,1.76,0.4,1.186240,14.253760,17.6,A2
7,72.6,151.74,1.32,0.3,0.889680,10.690320,13.2,A2
8,48.4,101.16,0.88,0.2,0.593120,7.126880,8.8,A2

In [36]:

row2tube= {}
row2tube['0'] = 'D1'
row2tube['1'] = 'D2'
row2tube['2'] = 'D3'
row2tube['3'] = 'D4'
row2tube['4'] = 'D5'
row2tube['5'] = 'D6'
row2tube['6'] = 'D7'
row2tube['7'] = 'D8'
row2tube['8'] = 'D9'

plasmid['Digestion Tube'] = ''

for i, row in plasmid.iterrows():
    plasmid.loc[i,'Digestion Tube'] = row2tube[str(i)]

plasmid

,Plasmid,Concentration,Buffer,PME1,Volume of Plasmid,Volume of Water,total volume,Plasmid Location,Digestion Tube
0,242.0,505.80,4.40,1.0,2.965599,35.634401,44.0,A2,D1
1,217.8,455.22,3.96,0.9,2.669039,32.070961,39.6,A2,D2
2,193.6,404.64,3.52,0.8,2.372479,28.507521,35.2,A2,D3
3,169.4,354.06,3.08,0.7,2.075919,24.944081,30.8,A2,D4
4,145.2,303.48,2.64,0.6,1.779359,21.380641,26.4,A2,D5
5,121.0,252.90,2.20,0.5,1.482800,17.817200,22.0,A2,D6
6,96.8,202.32,1.76,0.4,1.186240,14.253760,17.6,A2,D7
7,72.6,151.74,1.32,0.3,0.889680,10.690320,13.2,A2,D8
8,48.4,101.16,0.88,0.2,0.593120,7.126880,8.8,A2,D9

In [37]:
pcr2final= {}
pcr2final['0'] = 'A1'
pcr2final['1'] = 'A2'
pcr2final['2'] = 'A3'
pcr2final['3'] = 'A4'
pcr2final['4'] = 'A5'
pcr2final['5'] = 'A6'
pcr2final['6'] = 'B1'
pcr2final['7'] = 'B2'
pcr2final['8'] = 'B3'

plasmid['final tube'] = ''

for i, row in plasmid.iterrows():
    plasmid.loc[i,'final tube'] = pcr2final[str(i)]

plasmid

,Plasmid,Concentration,Buffer,PME1,Volume of Plasmid,Volume of Water,total volume,Plasmid Location,Digestion Tube,final tube
0,242.0,505.80,4.40,1.0,2.965599,35.634401,44.0,A2,D1,A1
1,217.8,455.22,3.96,0.9,2.669039,32.070961,39.6,A2,D2,A2
2,193.6,404.64,3.52,0.8,2.372479,28.507521,35.2,A2,D3,A3
3,169.4,354.06,3.08,0.7,2.075919,24.944081,30.8,A2,D4,A4
4,145.2,303.48,2.64,0.6,1.779359,21.380641,26.4,A2,D5,A5
5,121.0,252.90,2.20,0.5,1.482800,17.817200,22.0,A2,D6,A6
6,96.8,202.32,1.76,0.4,1.186240,14.253760,17.6,A2,D7,B1
7,72.6,151.74,1.32,0.3,0.889680,10.690320,13.2,A2,D8,B2
8,48.4,101.16,0.88,0.2,0.593120,7.126880,8.8,A2,D9,B3