In [13]:
from opentrons import protocol_api
import pandas as pd
import os

## Meta Data

metadata = {'protocolName': 'PME1 Digestion',
'author':'Mason Kellinger masonkellinger@vt.edu',
 'description':'First phase of yeast transformation',
 'apiLevel': '2.9'
}
print(metadata)

os.chdir("C:/Users/jonbr/Documents/GitHub/opentrons/Restriction/")
os.getcwd()

plasmid = pd.read_csv("20210802_pme1.csv",engine = 'python', encoding='utf-8-sig')

plasmid = pd.DataFrame(plasmid)
plasmid

{'protocolName': 'PME1 Digestion', 'author': 'Mason Kellinger masonkellinger@vt.edu', 'description': 'First phase of yeast transformation', 'apiLevel': '2.9'}

   Plasmid  Concentration
0      103            156
1      259            283
2      398            498
3       93           3948
4       92            495
5      923           4309
6      904            493
7      239            943

In [14]:
plasmid['Buffer'] = float('4.4')
plasmid['PME1'] = float('1')
plasmid['Volume of Plasmid'] = ''
plasmid['Volume of Water'] = ''

plasmid['Volume of Plasmid'] = (1/(plasmid['Concentration'])) * 1000 * 1.5
plasmid['Volume of Water'] = 44 - plasmid['Volume of Plasmid'] - plasmid['Buffer'] - plasmid['PME1']

plasmid

   Plasmid  Concentration  Buffer  PME1  Volume of Plasmid  Volume of Water
0      103            156     4.4   1.0           9.615385        28.984615
1      259            283     4.4   1.0           5.300353        33.299647
2      398            498     4.4   1.0           3.012048        35.587952
3       93           3948     4.4   1.0           0.379939        38.220061
4       92            495     4.4   1.0           3.030303        35.569697
5      923           4309     4.4   1.0           0.348109        38.251891
6      904            493     4.4   1.0           3.042596        35.557404
7      239            943     4.4   1.0           1.590668        37.009332

In [15]:
row2well= {}
row2well['0'] = 'A2'
row2well['1'] = 'B2'
row2well['2'] = 'C2'
row2well['3'] = 'D2'
row2well['4'] = 'D3'
row2well['5'] = 'D4'
row2well['6'] = 'D5'
row2well['7'] = 'D6'

plasmid['Plasmid Location'] = ''

for i, row in plasmid.iterrows():
    plasmid.loc[i,'Plasmid Location'] = row2well[str(i)]
plasmid

,Plasmid,Concentration,Buffer,PME1,Volume of Plasmid,Volume of Water,Plasmid Location
0,103,156,4.4,1.0,9.615385,28.984615,A2
1,259,283,4.4,1.0,5.300353,33.299647,B2
2,398,498,4.4,1.0,3.012048,35.587952,C2
3,93,3948,4.4,1.0,0.379939,38.220061,D2
4,92,495,4.4,1.0,3.030303,35.569697,D3
5,923,4309,4.4,1.0,0.348109,38.251891,D4
6,904,493,4.4,1.0,3.042596,35.557404,D5
7,239,943,4.4,1.0,1.590668,37.009332,D6

In [16]:

row2tube= {}
row2tube['0'] = 'B1'
row2tube['1'] = 'B2'
row2tube['2'] = 'B3'
row2tube['3'] = 'B4'
row2tube['4'] = 'B5'
row2tube['5'] = 'B6'
row2tube['6'] = 'B7'
row2tube['7'] = 'B8'

plasmid['Digestion Tube'] = ''

for i, row in plasmid.iterrows():
    plasmid.loc[i,'Digestion Tube'] = row2tube[str(i)]

plasmid

,Plasmid,Concentration,Buffer,PME1,Volume of Plasmid,Volume of Water,Plasmid Location,Digestion Tube
0,103,156,4.4,1.0,9.615385,28.984615,A2,B1
1,259,283,4.4,1.0,5.300353,33.299647,B2,B2
2,398,498,4.4,1.0,3.012048,35.587952,C2,B3
3,93,3948,4.4,1.0,0.379939,38.220061,D2,B4
4,92,495,4.4,1.0,3.030303,35.569697,D3,B5
5,923,4309,4.4,1.0,0.348109,38.251891,D4,B6
6,904,493,4.4,1.0,3.042596,35.557404,D5,B7
7,239,943,4.4,1.0,1.590668,37.009332,D6,B8