In [79]:
from opentrons import protocol_api
import pandas as pd
import os

## Meta Data

metadata = {'protocolName': 'PME1 Digestion',
'author':'Mason Kellinger masonkellinger@vt.edu',
 'description':'First phase of yeast transformation',
 'apiLevel': '2.9'
}
print(metadata)

os.chdir("C:/Users/jonbr/Documents/GitHub/opentrons/Restriction/20210902_pme1")
os.getcwd()

plasmid = pd.read_csv("20210902_pme1.csv",engine = 'python', encoding='utf-8-sig')

plasmid = pd.DataFrame(plasmid)
plasmid

{'protocolName': 'PME1 Digestion', 'author': 'Mason Kellinger masonkellinger@vt.edu', 'description': 'First phase of yeast transformation', 'apiLevel': '2.9'}

   Plasmid  Concentration
0      242          505.8

In [80]:
plasmid['Buffer'] = float('4.4')
plasmid['PME1'] = float('1')
plasmid['Volume of Plasmid'] = ''
plasmid['Volume of Water'] = ''

plasmid['Volume of Plasmid'] = (1/(plasmid['Concentration'])) * 1000 * 1.5
plasmid['Volume of Water'] = 44 - plasmid['Volume of Plasmid'] - plasmid['Buffer'] - plasmid['PME1']

plasmid['total volume'] = float('44')

plasmid

,Plasmid,Concentration,Buffer,PME1,Volume of Plasmid,Volume of Water,total volume
0,242,505.8,4.4,1.0,2.965599,35.634401,44.0

In [81]:
#purpose of this is the perform the same 44uL digestion with half the reagents every time to see 
#just how precise the opentrons is and how much reagents we can save. 

for n in range(0,8):
    plasmid2 = plasmid.iloc[n,] / 2
    plasmid=plasmid.append(plasmid2)

plasmid = plasmid.reset_index()
plasmid = plasmid.drop(columns=['index'])

plasmid

,Plasmid,Concentration,Buffer,PME1,Volume of Plasmid,Volume of Water,total volume
0,242.000000,505.800000,4.400000,1.000000,2.965599,35.634401,44.000000
1,121.000000,252.900000,2.200000,0.500000,1.482800,17.817200,22.000000
2,60.500000,126.450000,1.100000,0.250000,0.741400,8.908600,11.000000
3,30.250000,63.225000,0.550000,0.125000,0.370700,4.454300,5.500000
4,15.125000,31.612500,0.275000,0.062500,0.185350,2.227150,2.750000
5,7.562500,15.806250,0.137500,0.031250,0.092675,1.113575,1.375000
6,3.781250,7.903125,0.068750,0.015625,0.046337,0.556788,0.687500
7,1.890625,3.951563,0.034375,0.007812,0.023169,0.278394,0.343750
8,0.945312,1.975781,0.017188,0.003906,0.011584,0.139197,0.171875

In [82]:
#row2well= {}
#row2well['0'] = 'A2'
#row2well['1'] = 'B2'
#row2well['2'] = 'C2'
#row2well['3'] = 'D2'
#row2well['4'] = 'D3'
#row2well['5'] = 'D4'
#row2well['6'] = 'D5'
#row2well['7'] = 'D6'

plasmid['Plasmid Location'] = ''

for i, row in plasmid.iterrows():
    plasmid.loc[i,'Plasmid Location'] = 'A2' #row2well[str(i)]
plasmid

,Plasmid,Concentration,Buffer,PME1,Volume of Plasmid,Volume of Water,total volume,Plasmid Location
0,242.000000,505.800000,4.400000,1.000000,2.965599,35.634401,44.000000,A2
1,121.000000,252.900000,2.200000,0.500000,1.482800,17.817200,22.000000,A2
2,60.500000,126.450000,1.100000,0.250000,0.741400,8.908600,11.000000,A2
3,30.250000,63.225000,0.550000,0.125000,0.370700,4.454300,5.500000,A2
4,15.125000,31.612500,0.275000,0.062500,0.185350,2.227150,2.750000,A2
5,7.562500,15.806250,0.137500,0.031250,0.092675,1.113575,1.375000,A2
6,3.781250,7.903125,0.068750,0.015625,0.046337,0.556788,0.687500,A2
7,1.890625,3.951563,0.034375,0.007812,0.023169,0.278394,0.343750,A2
8,0.945312,1.975781,0.017188,0.003906,0.011584,0.139197,0.171875,A2

In [83]:

row2tube= {}
row2tube['0'] = 'D1'
row2tube['1'] = 'D2'
row2tube['2'] = 'D3'
row2tube['3'] = 'D4'
row2tube['4'] = 'D5'
row2tube['5'] = 'D6'
row2tube['6'] = 'D7'
row2tube['7'] = 'D8'
row2tube['8'] = 'D9'

plasmid['Digestion Tube'] = ''

for i, row in plasmid.iterrows():
    plasmid.loc[i,'Digestion Tube'] = row2tube[str(i)]

plasmid

,Plasmid,Concentration,Buffer,PME1,Volume of Plasmid,Volume of Water,total volume,Plasmid Location,Digestion Tube
0,242.000000,505.800000,4.400000,1.000000,2.965599,35.634401,44.000000,A2,D1
1,121.000000,252.900000,2.200000,0.500000,1.482800,17.817200,22.000000,A2,D2
2,60.500000,126.450000,1.100000,0.250000,0.741400,8.908600,11.000000,A2,D3
3,30.250000,63.225000,0.550000,0.125000,0.370700,4.454300,5.500000,A2,D4
4,15.125000,31.612500,0.275000,0.062500,0.185350,2.227150,2.750000,A2,D5
5,7.562500,15.806250,0.137500,0.031250,0.092675,1.113575,1.375000,A2,D6
6,3.781250,7.903125,0.068750,0.015625,0.046337,0.556788,0.687500,A2,D7
7,1.890625,3.951563,0.034375,0.007812,0.023169,0.278394,0.343750,A2,D8
8,0.945312,1.975781,0.017188,0.003906,0.011584,0.139197,0.171875,A2,D9

In [84]:
pcr2final= {}
pcr2final['0'] = 'A1'
pcr2final['1'] = 'A2'
pcr2final['2'] = 'A3'
pcr2final['3'] = 'A4'
pcr2final['4'] = 'A5'
pcr2final['5'] = 'A6'
pcr2final['6'] = 'B1'
pcr2final['7'] = 'B2'
pcr2final['8'] = 'B3'

plasmid['final tube'] = ''

for i, row in plasmid.iterrows():
    plasmid.loc[i,'final tube'] = pcr2final[str(i)]

plasmid

,Plasmid,Concentration,Buffer,PME1,Volume of Plasmid,Volume of Water,total volume,Plasmid Location,Digestion Tube,final tube
0,242.000000,505.800000,4.400000,1.000000,2.965599,35.634401,44.000000,A2,D1,A1
1,121.000000,252.900000,2.200000,0.500000,1.482800,17.817200,22.000000,A2,D2,A2
2,60.500000,126.450000,1.100000,0.250000,0.741400,8.908600,11.000000,A2,D3,A3
3,30.250000,63.225000,0.550000,0.125000,0.370700,4.454300,5.500000,A2,D4,A4
4,15.125000,31.612500,0.275000,0.062500,0.185350,2.227150,2.750000,A2,D5,A5
5,7.562500,15.806250,0.137500,0.031250,0.092675,1.113575,1.375000,A2,D6,A6
6,3.781250,7.903125,0.068750,0.015625,0.046337,0.556788,0.687500,A2,D7,B1
7,1.890625,3.951563,0.034375,0.007812,0.023169,0.278394,0.343750,A2,D8,B2
8,0.945312,1.975781,0.017188,0.003906,0.011584,0.139197,0.171875,A2,D9,B3